// Place all the styles related to the Scoreboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.d-table {
  min-width: 300px;
  display: block;
  width: 1px solid red;
}

.d-table ul {
}

.d-row li {
  padding: 0px;
  display: inline-block;
  width: 200px;
}

.category_title {
  font-size: 30px;
}
